#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  @apply font-bold mb-8;
}

.title-main {
  @apply title text-5xl;
}

.title-section {
  @apply title text-2xl;
}
