#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.navbar {
  @apply w-full border-b border-zinc-900 mb-8 px-5 py-3 flex justify-end gap-3;

  .nav {
    @apply font-semibold text-blue-300 underline;

    &.active {
      @apply no-underline text-zinc-600 cursor-default;
    }
  }
}

.title {
  @apply font-bold mb-8;
}

.title-main {
  @apply title text-5xl;
}

.title-section {
  @apply title text-2xl;
}
